<% if @question.answers.empty? %>
  <div class="hidden" id="am-answers-container">
<% else %>
    <div id="am-answers-container" style="height: 500px;">
<% end %>
  <div class=" shadow-container col-xs-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">New</a></li>
      <li><a href="#">Popular</a></li>
    </ul>
    <div class="scroll-container" id="am-ajax">
      <% @question.answers.each do |answer| %>
        <div class="row">
          <div class="am-answer">
            <div class="col-xs-1">
              <div class="am-answer-rating">
                <%= link_to "+", like_answer_path(answer), class: 'vote', method: :put, remote: true %>
                   <span class="votes-count"  data-id="<%= answer.id %>"><%= answer.liked_users.count %></span>
                <%= link_to "-", dislike_answer_path(answer), class: 'vote', method: :put, remote: true %>

              </div>
            </div>
            <div class="am-answer-user-info col-xs-2">
              <div>
                <%= image_tag(answer.answerer.avatar.small, class: 'img-circle')  %>
              </div>
              <a href="<%= user_path(answer.answerer) %>"><span><%= answer.answerer.name %></span></a>
            </div>
            <div class="col-xs-9 am-answer-body">
              <p>
                <%= answer.content %>
              </p>
              <div class="answer-timestamp">
                Posted <%= time_ago_in_words(answer.created_at) %> ago.
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/answer_form' %>