<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<%= form_for(@user, :html => { :class => "form-horizontal", :multipart => true }) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password"%>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= image_tag current_user.avatar_url(:large) , id: "output_img_avatar",
            width: '200', height: '200', class: 'img-circle'%>
      <%= f.file_field :avatar ,:title => "Change avatar", id: "img_btn"%>
    </div>

    <div class="form-group">
      <%= f.submit "Save changes", class: "am-btn btn btn-default btn-lg" %>
    </div>

<% end %>



<%= javascript_include_tag 'forms/file_input' %>