<div class="row">
  <%= form_for(@question, :html => {class: "form-horizontal"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :title, class: "col-sm-3 control-label" %>
        <div class="col-sm-9 controls">
          <%= f.text_field :title, :class => "form-control",
                           placeholder: "Short description of your problem" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :content, class: "col-sm-3 control-label" %>
        <div class="col-sm-9 controls">
          <%= f.text_area :content, :class => "form-control", placeholder: "Question body", rows: "11" %>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
          <%= f.submit "ASK!", class: "btn btn-lg btn-default am-btn", id: "btn-reg" %>
        </div>
      </div>
  <% end %>
</div>