<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>AskMachine | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= yield(:styles) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<%= form_tag root_url, method: 'get', class: 'locale', style: "float: right;" do %>-->
      <!--<%= select_tag 'set_locale', options_for_select( ['en', 'ru'], I18n.locale.to_s ) %>-->
      <!--<%= submit_tag '->' %>-->
    <!--<% end %>-->

    <!-- header -->

    <%= render 'shared/header' %>

    <!-- endheader -->

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 main-content">
          <% flash.each do |key, value| %>
              <% unless key == 'notice'%>
                  <div class="alert alert-<%= key %> alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= value %>
                  </div>
              <% else %>
                  <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= value %>
                  </div>
              <% end %>
          <% end %>

          <%= yield %>

          </div>
          <div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 right-menu">
            <%= render 'shared/right_menu' %>
          </div>
        </div>
      </div>
      <%= render 'shared/footer' %>
  </body>
</html>
